<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ffc5cec1-a08b-4cf6-8028-ba0f760784b8/resourceGroups/testetcccolanjo_group/providers/Microsoft.Web/sites/testetcccolanjo</ResourceId>
    <ResourceGroup>testetcccolanjo_group</ResourceGroup>
    <ApiResourceId>/subscriptions/ffc5cec1-a08b-4cf6-8028-ba0f760784b8/resourceGroups/testetcccolanjo_group/providers/Microsoft.ApiManagement/service/scheduleAppointmentteste/apis/scheduleAppointment</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testetcccolanjo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2bed883b-e619-48f2-927f-6a4676ce62d7</ProjectGuid>
    <MSDeployServiceURL>testetcccolanjo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>testetcccolanjo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$testetcccolanjo</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>